<div class="flex align-items-center justify-content-center flex-column mt-8">
  <div class="text-3xl font-bold mb-8">Dyanmic Form</div>
  <div class="w-4 flex flex-column gap-5">
    <app-dynamic-form #child [fields]="formFields" [formData]="formData" [isEdit]="true"
      (submit)="saveForm($event)"></app-dynamic-form>

      <!-- <app-dynamic-form #child [fields]="formFields1" [formData]="formData1" [isEdit]="true"
      (submit)="saveForm($event)"></app-dynamic-form> -->
  </div>
</div>

<div class="flex gap-4 p-4">
  <div class="block">
    <h2>Form Fields JSON</h2>
    <pre>{{ formFields | json }}</pre>
  </div>
  <div class="block">
    <h2>Form Value JSON</h2>
    <pre>{{ formData | json }}</pre>
  </div>
</div>